extends ../layout/main

block title
    title Test
block styles
block main
    h1 Hello! This is more words
    p Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
    include ../components/button/button

